.login-page {
  height: 100%;
  width: 100%;
  background-color: #6d9ac4;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-wrapper {
    background-color: white;
    min-width: 40%;
    max-width: 70%;

    .login-header {
      font-size: 2rem;
      font-weight: bold;
      margin: 2rem 1rem;
    }

    .invalid-credential-box {
      border: 1px solid red;
      color: red;
      background-color: #80808026;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 1rem;
      margin: 1rem 1rem 2rem;
    }

    .server-error-box {
      @extend .invalid-credential-box;
      font-weight: normal;
      font-size: 1rem;
    }

    .form-item {
      font-size: 1.2rem;
      margin: 1rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
      }

      input {
        width: 100%;
        font-size: 1rem;
      }
    }

    .error-label {
      font-size: 1rem;
      color: red;
      padding-top: 0.5rem;
    }

    .login-btn {
      margin: 1.5rem 5%;
      border-radius: 1.5rem;
      padding: 1.2rem;
      width: 90%;
      text-align: center;
      border: none;
      color: white;
      font-size: 1rem;
      background-color: #ee5684;
    }

    .login-btn:disabled {
      color: #575050;
    }
  }
}
