<div class="login-page">
  <div class="login-wrapper">
    <div class="login-header">Sign into your account</div>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div *ngIf="isInvalidCredentials" class="invalid-credential-box">
        Invalid Login Credentials
      </div>
      <div *ngIf="serverError" class="server-error-box">
        {{serverError.message}}
      </div>
      <div class="form-item">
        <label for="email">Email</label>
        <input type="email" formControlName="email" id="email" />

        <div
          *ngIf="loginForm.get('email').touched &&  loginForm.get('email').errors && loginForm.get('email').errors['email']"
          class="error-label"
        >
          Please enter valid email
        </div>
        <div
          *ngIf="loginForm.get('email').touched && loginForm.get('email').errors && loginForm.get('email').errors['required']"
          class="error-label"
        >
          Email is required
        </div>
      </div>
      <div class="form-item">
        <label for="password">Password</label>
        <input type="password" formControlName="password" id="password" />
        <div
          *ngIf="loginForm.get('password').touched && loginForm.get('password').errors && loginForm.get('password').errors['required']"
          class="error-label"
        >
          Password is required
        </div>
      </div>
      <button class="login-btn" [disabled]="loginForm.invalid" type="submit">
        Login
      </button>
    </form>
  </div>
</div>
