<header class="dashboard-header">
  <div class="heading">Dashboard Page</div>
  <div class="buttons">
    <input
      class="search-box"
      placeholder="Search"
      type="text"
      (keyup)="search($event)"
    />
    <button class="logout-btn">Logout</button>
  </div>
</header>

<div class="sections-container">
  <div class="section">
    <div class="section-header">Notifications</div>
  </div>
  <div class="section">
    <div class="section-header">Tasks</div>
    <div class="section-content">
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </div>
  <div class="section last-section">
    <div class="section-content">
      <div class="box1">
        <div class="section-header">Trends</div>
      </div>
      <div class="box2">
        <div class="section-header">Efficiency</div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">Innovated by Shreyak Jain</footer>
