.dashboard-header {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: #80808026;
  max-height: 10vh;

  .heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: blueviolet;
  }

  .buttons {
    float: right;
    margin-left: auto;

    .search-box {
      margin-right: 2rem;
      padding: 0.5rem;
      border: none;
    }

    .logout-btn {
      padding: 0.5rem;
      background-color: cadetblue;
      border: none;
    }
  }
}

.sections-container {
  background-color: gray;
  padding: 1rem 0;
  min-height: 79%;
  width: 100%;
  box-sizing: border-box;
  display: flex;

  .section:first-child {
    width: 21%;
  }

  .section {
    margin-left: 2%;
    background-color: wheat;
    width: 36%;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 2%;

    .section-header {
      overflow: inherit;
      text-overflow: inherit;
      color: burlywood;
      background-color: white;
      font-size: 1.5rem;
      padding: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .section-content {
      height: 100%;
      overflow-y: auto;

      .box {
        margin: 5%;
        height: 39%;
        background-color: white;
        border-radius: 5%;
      }
    }
  }

  .last-section {
    background-color: inherit;

    .section-content {
      height: 100%;
      .box1 {
        background-color: wheat;
        margin-bottom: 2%;
        border-radius: 5%;
        height: 49%;
      }

      .box2 {
        background-color: wheat;
        border-radius: 5%;
        height: 49%;
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  color: blueviolet;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-height: 10vh;
}
